{% extends "base.html" %}
{% block content %}
<table>
  <tr>
    <th>
<p>Mission 1:</p>
    </th>
    <td>
Find the entrances to Lair and Orc. If you die, you may try again up to twenty
times. New locations: D:1-13, Temple.
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 2:</p>
    </th>
    <td>
Find the three branch entrances in Lair. New locations: Lair.
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 3:</p>
    </th>
    <td>
Enter the shops in the Orc:4 shop vault and find the entrance to Vault. New
locations: Orc, Elf, D:14-20.
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 4:</p>
    </th>
    <td>
Get a Lair rune. New locations: one Lair subbranch.
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 5:</p>
    </th>
    <td>
Find the entrance to Tomb and enter the end of Crypt. New locations: Vault:1-4,
Crypt, Blade. (Missions 5, 6, and 7 can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 6:</p>
    </th>
    <td>
Get a second Lair rune. New locations: a second Lair subbranch. (Missions 5, 6,
and 7 can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 7:</p>
    </th>
    <td>
Find at least one entrance to Pan, Hell, and Zot. New locations: D:21-27,
Vestibule. (Missions 5, 6, and 7 can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 8:</p>
    </th>
    <td>
Get the silver or golden rune. New locations: either Vault:5 or Tomb,
along with Zot (since you have 3 runes now).
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 9:</p>
    </th>
    <td>
Get a third Lair rune. New locations: the third Lair subbranch. (Missions 9-14
can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 10:</p>
    </th>
    <td>
Get the silver or golden rune. New locations: either Vault:5 or Tomb.
(Missions 9-14 can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 11:</p>
    </th>
    <td>
Get three Pan runes. New locations: Pan. (Missions 9-14 can be done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 12:</p>
    </th>
    <td>
Get the remaining two Pan runes and return to D. (Missions 9-14 can be done in
any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 13:</p>
    </th>
    <td>
Get two Hell runes. New locations: all four hell branches. (Missions 9-14 can be
done in any order.)
    </td>
  </tr>
  <tr>
    <th>
<p>Mission 14:</p>
    </th>
    <td>
Get the remaining two Hell runes. (Missions 9-14 can be done in any order.)
    </td>
  </tr>
</table>
{% endblock %}
