{% extends "base.html" %}
{% block content %}
<h1>Regular Missions</h1>

<h2>Part One</h2>

<h3>Mission 1</h3>

<p>Find the entrances to Lair and Orc. If you die, you may try again up to twenty
times. New locations: D:1-13, Temple.</p>

<h3>Mission 2</h3>

<p>Find the three branch entrances in Lair. New locations: Lair.</p>

<h3>Mission 3</h3>

<p>Enter the shops in the Orc:4 shop vault and find the entrance to Vault. New
locations: Orc, Elf, D:14-20.</p>

<h3>Mission 4</h3>

<p>Get a Lair rune. New locations: one Lair subbranch.</p>

<hr>

<h2>Part Two</h2>

<h4>Missions 5, 6, and 7 can be done in any order.</h4>

<h3>Mission 5</h3>

<p>Find the entrance to Tomb and enter the end of Crypt. New locations: Vault:1-4,
Crypt, Blade.</p>

<h3>Mission 6</h3>

<p>Get a second Lair rune. New locations: a second Lair subbranch.</p>

<h3>Mission 7</h3>

<p>Find at least one entrance to Pan, Hell, and Zot. New locations: D:21-27,
Vestibule.</p>

<h3>Mission 8</h3>

<p>Get the silver or golden rune. New locations: either Vault:5 or Tomb,
along with Zot (since you have 3 runes now).</p>

<hr>

<h2>Part Three</h2>

<h4>Missions 9-14 can be done in any order.</h4>

<h3>Mission 9</h3>

<p>Get a third Lair rune. New locations: the third Lair subbranch.</p>

<h3>Mission 10</h3>

<p>Get the silver or golden rune. New locations: either Vault:5 or Tomb.</p>

<h3>Mission 11</h3>

<p>Get three Pan runes. New locations: Pan.</p>

<h3>Mission 12</h3>

<p>Get the remaining two Pan runes and return to D.</p>

<h3>Mission 13</h3>

<p>Get two Hell runes. New locations: all four hell branches.</p>

<h3>Mission 14</h3>

<p>Get the remaining two Hell runes.</p>
{% endblock %}
